<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view>
  <ion-content>
    <div class="scoreboard">
      <ion-list>
        <ion-item class="item-divider-platform">Scoreboard</ion-item>
        <ion-item ng-repeat="o in scoreboard">{{o.attributes.username}} --- {{o.attributes.score}}</ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-view>
