<ion-view view-title="Open Leagues">
  <ion-content >
    <div class="bar bar-header bar-light item-input-inset">
      <i class="icon ion-ios-search placeholder-icon"></i>
      <input class="search-wrapper-light" type="text" ng-model="searchTerm" placeholder="Search...">
    </div>
    <ion-list>

      <ion-item ng-repeat="league in leagues" class="item item-avatar item-button-right" ng-click="openModal(league)">
        <img src="{{league.img}}">
        <h2>{{league.name}}</h2>
        <span class="row">
          <p><i class="ion-social-usd"></i> {{league.price}}</p>
          <p class="col-offset-20"><i class="ion-person-stalker"></i> {{league.enrollment}}/{{league.size}}</p>
          <p class="col-offset-20"><i class="ion-ios-lightbulb"></i> {{league.GTD}}</p>
        </span>
        </button>
      </ion-item>

    </ion-list>
  </ion-content>
</ion-view>
