<ion-view view-title="Active Leagues" ng-cloak="">
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="league in myLeagues" class="item item-avatar item-icon-right" href="#/tab/chats/{{league.leagueID}}">
        <img src="{{league.img}}">
        <div class="row">
          <h2>{{league.leagueName}}</h2>
          <span style="right: 54px; top: 25px" ng-if="league.hasGTD" class="badge badge-balanced">{{league.hasGTD}}</span>
        </div>
        <div class="row">
          <p>Position: 4/25</p>
        </div>
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
